<app-header></app-header>
<div class="container">
  <div class="mesgs offset-2 col-md-8">
    <div class="msg_history">
      <app-message *ngFor="let message of messageHistory" [message]="message"></app-message>
    </div>
    <div class="type_msg">
      <div class="input_msg_write">
        <input type="text" class="write_msg" [(ngModel)]="typedMessage" placeholder="Type a message"/>
        <button class="msg_send_btn" type="button" (click)="onSend()">
          <fa-icon [icon]="['far', 'paper-plane']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
