<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">
        <fa-icon [icon]="['fas', 'feather-alt']" size="2x"></fa-icon>
        Chat
      </a>
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/info" class="nav-link">User Info</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/chat" class="nav-link">Chat</a>
      </li>
    </ul>

    <div class="nav-item">
      <a (click)="onLogout()" class="mr-1" style="cursor: pointer;">Logout</a>
      <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
    </div>
  </div>
</nav>
