<div *ngIf="message.type === 'sent'">
  <div class="outgoing_msg">
    <div class="sent_msg">
      <p>{{ message.body }}</p>
      <span class="time_date"> {{ message.time | date:'short' }} - <strong>{{ message.username }}</strong></span></div>
  </div>
</div>
<div *ngIf="message.type === 'received'">
  <div class="incoming_msg">
    <div class="received_msg">
      <div class="received_withd_msg">
        <p>{{ message.body }}</p>
        <span class="time_date">{{ message.time | date:'short' }} - <strong>{{ message.username }}</strong></span></div>
    </div>
  </div>
</div>
