<div class="text-center body">
  <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <ngb-alert *ngIf="alertShown" (close)="alertShown = false" type="warning">{{ alertMessage }}</ngb-alert>
    <fa-icon [icon]="['fas', 'feather-alt']" size="6x"></fa-icon>
    <h1 class="h3 mb-3 mt-3 font-weight-normal">Sign up</h1>
    <label for="username" class="sr-only">Username</label>
    <input
      type="text"
      id="username"
      class="form-control"
      placeholder="Username"
      formControlName="username">
    <label for="birthDate" class="sr-only">Birthday</label>
    <input type="text" id="birthDate" class="form-control birthday-input" onfocus="(this.type='date')"
           placeholder="Birthday"
           formControlName="birthDate">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control"
           placeholder="Password" formControlName="password">
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" [disabled]="signupForm.invalid">Sign up</button>
    <div class="mt-2">
      <a routerLink="/signin">Already have an account?</a>
    </div>
  </form>
</div>
