<div class="text-center body">
  <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <ngb-alert *ngIf="alertShown" (close)="alertShown = false" type="warning">{{ alertMessage }}</ngb-alert>
    <fa-icon [icon]="['fas', 'feather-alt']" size="6x"></fa-icon>
    <h1 class="h3 mb-3 mt-3 font-weight-normal">Please sign in</h1>
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username"
           formControlName="username"
           class="form-control" placeholder="Username">
    <label for="inputPassword"
           class="sr-only">Password</label>
    <input type="password"
           formControlName="password"
           id="inputPassword" class="form-control" placeholder="Password">
    <div class="checkbox mb-2 mt-2">
      <label>
        <input type="checkbox"
               formControlName="remember"
               value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" [disabled]="signinForm.invalid" type="submit">Sign in</button>
    <div class="mt-2">
      <a routerLink="/signup">Need new account?</a>
    </div>
  </form>
</div>
